[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[requires]
python_version = "3.9"

[packages]
gunicorn = "*"
uvicorn = "*"
cxwebhooks = "*"
googlemaps = "*"
requests = "*"
pytest = "*"

[packages.fastapi]
extras = [ "all",]
